<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="styleshePet" href="css/sculptor-styles.css">
  </head>
  <body>
    <div id="error-page" class="pages">
      <div class="error">
          <h3>Hmmm, looks like we ran into a problem!</h3>
          <span><img src="#" /></span>
          {{> inline-error}} 
          <p><a hrefq="/">Go to homepage.</a></p>
      </div>
    </div>
    <div id="footer" class="pages">
      <p>Copyright &copy; 2014 Kanimats, Inc. All rights reserved.</p>
    </div>	
   </body>
</html>
    
