<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <!-- Home section -->
    <div id="home-products" data-type="background">    
      <div class="home-navbar">
	<div class="home-navbar categ">
	  <ul>
	    <li class="active"><a href="#">Reading</a></li>
	    <li><a href="#Math">Math</a></li>
	  </ul>
	</div>

	<!-- products list -->
	<div id="home-productlist">
	  <div class="product">
	    div
	  </div>
	</div>  
     </div>
    </div>

    <!-- About section -->
    <div id="home-about" data-type="background">
      <div class="home-aboutus">
	<p></p>
	<p></p>
      </div>	
    </div>

    <!-- Support section -->
    <div id="home-support" data-type="background">
      <div id="home-donate"></div>
         <div class="home-social">
      </div>	
    </div>
    <!-- Footer template -->
  </body>
</html>  
  
